<div class="container" style="max-width: 400px; margin: auto">


  <form #loginform="ngForm">
    <div class="grid">
      <div class="col-12">
        <h1>Login</h1>
      </div>

      <div class="col-12 p-fluid">
        <label>Email</label>
        <input pInputText type="text" name="usuario" placeholder="Email" ngModel #usuario required>

      </div>

      <div class="col-12 p-fluid">
        <label>Senha</label>
        <input pInputText type="password" name="senha" placeholder="Senha" ngModel #senha required>

      </div>

      <div class="col-12">
        <button pButton type="submit" label="Login" [disabled]="loginform.invalid"
          (click)="login(usuario.value, senha.value); senha.value= ''"></button>
      </div>
    </div>
  </form>
</div>
